@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  }

body {
  background-image: url(http://3.bp.blogspot.com/-g2u4pZuj1tQ/Vhe7Ocak4fI/AAAAAAAAFkg/nlzvTfuRUXA/s1600/MIRAMAR%2B-%2BAerea%2Blateral%2Bweb.jpg);
  background-size: cover;
  background-position: 50%;
}

h1 {
  color: aliceblue;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 1px;
  text-align: center;
  font-size: 65px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 35px;
}
h1:hover{
  color:black;
  transition: 0.5;
}
.contenedor {

  padding: 5px;
  display: flex;
  background-color: rgb(153, 153, 102, 0.5);
  
}

 .logo {
  width: 300px;
  margin: 15px 50px;
  cursor: pointer;
  box-sizing:border-box;
  border-radius: 50px;
}
.cuadrado:hover{
  transition: transform 4.0s;
  transform: scale(1.1);
  text-align: justify;
  box-shadow: 2px 8px 8px 2px black;
}
.cuadrado {
 width: 500px;
  margin-left: 33%;
  margin-top: 30px;
  display: inline-block;
  height: 320px;
  background-image: url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/286573466.jpg?k=3f7046bc9a02c4f934790c9e64ddb0ae2af4098c6e83466d75a18350be3a0632&o=&hp=1);
  margin-bottom: 15px;
  background-size: cover;
 /* opacity: 0.6;*/
}

  .cuadrado1 img {
    display: block;
    width: 500px;
    margin-left: 33%;
    margin-top: 30px;
    display: inline-block;
    height: 320px;
    margin-bottom: 15px;
  }

.rectangulo{
  margin-left: 33%;
  background-color: rgb(240, 248, 255, 0.5);
  width: 500px;
  height: 100px;
  margin-top: 30px;

  }
 .cuadrado:hover {
  transition: trasnform 3s;
  transform: scale(1.2);
  text-align: justify;

}
.rectangulo:hover{
  transition: transform 1.0s;
  transform: scale(1.1);
  text-align: justify;
  box-shadow: 2px 8px 8px 2px black;}

  .cuadrado1:hover {
    transition: trasnform 3.0s;
    transform: scale(1.0);
    text-align: justify;
  }
  img:hover{
     transition: trasnform 3.0s;
      transform: scale(1.2);
    }
  